$background-color: #FFF;
$background-color-2: #F0F1FF;
$font-stack: "Plus Jakarta Sans", sans-serif;
$header-color: #13183F;
$text-color: #83869A;
$link-color: #F74780;
$hover-button-blue: #666CA3;
$radient-orange: #ff6f48;
$radient-magenta: #f02aa6;
$radient-blue: #4851FF;
$radient-pink: #FFA7C3;
$radient-orange-opacity: rgba(255,111,72, 0.5);
$radient-magenta-opacity: rgba(240,42,181,0.5);
$shadow-color: rgba(131,134,154, .3);